@import "../../../style/variables";

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $mdt_base_background-color;
  background-image: url('../../../assets/images/mdt_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  .login-main {
    width: 50%;
    display: flex;
    align-items: center;
    .login-left {
      height: 423px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../../../assets/images/login.png');
      border-radius: 4px 0 0 4px;
    }
    .login-right {
      display: flex;
      flex-direction: column;
      height: 423px;
      border-radius: 0 4px 4px 0;
      background: #fff;
      .login-right-main{
        padding: 62px 74px 55px;
      }
      .project-name {
        width: 100%;
        height: 24px;
        background-image: url('../../../assets/images/project_name.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
      .login-tabs {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        height: 34px;
        margin: 29px 0 0;
        .tab {
          position: relative;
          cursor: pointer;
          &:hover {
            color: $mdt-base-active-color;
          }
        }
        .active {
          font-size: 16px;
          line-height: 22px;
          &:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background: $mdt-base-active-color;
            bottom: 0;
            left: 0;
          }
        }
      }
      .el-form {
        margin: 20px 0 0;
        .el-form-item{
          position: relative;
          .form-error{
            position: absolute;
            top: -28px;
            right: 0;
            font-size:12px;
            line-height: 17px;
            color: $mdt-base-warning-color;
          }
          .login-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 25px;
            img{
              height: 16px;
              width: 16px;
            }
          }
        }
        .append-code{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 15px;
          font-size: 12px;
          line-height: 17px;
          color: $mdt-base-active-color;
          cursor: pointer;
          &:before{
            position: absolute;
            content: '';
            left: 0;
            width: 1px;
            height: 22px;
            background: #EFEFEF;
          }
        }
      }
      .login-btn {
        width: 100%;
      }
      .login-end-tips{
        display: flex;
        justify-content: space-between;
        margin: 12px 0 0;
        font-size: 12px;
        line-height: 17px;
        color: #9a9a9a;
        .register{
          margin-left: 4px;
          color: $mdt-base-active-color;
        }
      }
    }
  }
  .project-info{
    position: absolute;
    bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:12px;
    line-height: 17px;
    color: #a6a6a6;
  }
}
